html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	color: aqua;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #3C3228;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 8%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border: 5px solid black;
	border-radius: 10px;
	/*TRouBLe*/
	margin: 1rem 0 0.5rem 0;
}
legend {
	font-weight: bold;
	font-family: 'Big Shoulders Inline Text', cursive;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
label {
	padding-bottom: 0.5rem;
	display: block;
}
textarea {
	height: 9rem;
	padding: 1rem;

}
button {
	font-size: 1.4rem;
	margin: 1.2rem 0;
	background-color: aqua;
	color: azure;
	border: none;
	border-radius: 10px;
}
button:hover{
	background-color: azure;
	color:aqua;
}
input:not([type="radio"]):not([type="checkbox"]),textarea{
	display: block;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	margin-bottom: 2rem;
	padding: 0 1rem;
}
